
h1, h3 {
  padding-left: 5%;
}
.textboxForm {
  width: 50%;
  /* height: 600px; */
}
div {
  padding-left: 2%
}

input {
  width: 10%;
  padding: 0.4%;
}

.map-content {
  max-width: 95%;
  margin: auto;
  padding-left: 1%;
}

