
h1, h3, form {
  padding-left: 5%;
}
.textboxForm {
  width: 50%;
  /* height: 600px; */
}
div {
  background-color: lightblue;
  /* padding-left: 2% */

}

input {
  width: 10%;
  padding: 0.4%;
}
<<<<<<< HEAD
=======

.map-content {
  max-width: 95%;
  margin: auto;
  padding-left: 1%;
}

>>>>>>> 8d35d1792b85943cff09016894d4ae75af2fd213
