
h1, h3, form {
  padding-left: 5%;
}
.textboxForm {
  width: 50%;
  /* height: 600px; */
}

.nav, .navbar, .navbar-default {
  background-color: lightblue;
  /* padding-left: 2% */

}

input {
  width: 10%;
  padding: 0.4%;
}