<!doctype html>
<title>{% block title %}{% endblock %}ShoutOut - Report Issue</title>
{% extends 'index.html' %}

{% block content %} 
</form><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h1>Give a Shout out at this location</h1>
    <form method="post" action="/">
        <input type="submit" value="Full Bins" name="full_bins"/>
        <input type="submit" value="Chem/Fire hazard" name="chem_fire_haz" />
        <input type="submit" value="Trip hazard" name="trip_haz" />
        <input type="submit" value="Vandalised" name="vandalised" />
<br>
<h1>Report other issue</h1>

<form method="POST">
    <fieldset>
        <input type="text" id="text" name="text_name" class="textboxForm" />
        <input type="submit">
    </fieldset>
</form>





{% endblock %}